PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/resqdrive?schema=public"

JWT_ACCESS_SECRET="generate_random_secret_here"
JWT_REFRESH_SECRET="generate_another_random_secret_here"

SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER="smtp_user"
SMTP_PASS="smtp_pass"
SMTP_FROM="noreply@resqdrive.com"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
