PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/resqdrive?schema=public"

JWT_ACCESS_SECRET="generate_random_secret_here"
JWT_REFRESH_SECRET="generate_another_random_secret_here"

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@resqdrive.com"

GEOAPIFY_API_KEY="get_free_key_at_geoapify_com"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
